{% extends 'base.html.twig' %}

{% block title %}Society index{% endblock %}

{% block body %}
    <h1>Society index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for society in societies %}
            <tr>
                <td>{{ society.id }}</td>
                <td>{{ society.title }}</td>
                <td>{{ society.description }}</td>
                <td>{{ society.date ? society.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ society.image }}</td>
                <td>
                    <a href="{{ path('society_show', {'id': society.id}) }}">show</a>
                    <a href="{{ path('society_edit', {'id': society.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('society_new') }}">Create new</a>
{% endblock %}
